.card-group .col{
    padding: 5px;
}

.catCard{
    text-align: center;
    align-items: center;
    padding: 1vh;
}

.catCard img{
    width: 15%;
}

.catCard:hover{
    background-color: aliceblue;
}