.front{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 0px 50px;
}

.front img{
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .frontimg{
        display: none;
    }
  }