.feaCard .card-subtitle{
    width: 160px;
}

.locimg img{
    width: 15%;
}

.comimg{
    width: 50% !important;
    height: 65px;
}

.feaCard:hover{
    background-color: rgb(249, 255, 246);
}

.btn-lite h6{
    border-radius: 10%;
    border: 1px solid;
    padding: 2px;
}