.navbar{
    width: 100%;
}

.navbar a{
    text-decoration: none;
}

.links a{
    padding: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .navbar{
        flex-direction: column;
    }
  }


